.pagination {
  margin-top: .5rem;
  margin-bottom: .5rem;
  -webkit-box-pack: center!important;
  justify-content: center!important;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.pag-item {
  position: relative;
  margin-left: -1px;
  line-height: 1;
  color: var(--link);
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pag-item.active {
  z-index: 1;
  color: var(--linkColor) !important;
  background-color: var(--link);
  border-color: var(--link);
}

.pag-item a {
  display: block;
  padding: 1rem;
}

.pag-item.active a {
  color: var(--linkColor);
}

.pag-item:hover {
  z-index: 1;
  color: var(--linkHoverColor) !important;
  background-color: var(--linkHover);
  border-color: var(--linkHover);
}

.pag-item a:hover {
  color: var(--linkHoverColor);
  text-decoration: none;
}
