{% extends 'layout.html' %}

{% block content %}
  {% include 'page.navbar.html' %}
    <div class="row-fluid blogpage">
      <h1>About Me</h1>
      <p>I am an Software Maven at <a href="http://trackmaven.com/">TrackMaven</a>. in Washington, DC. My programming interests lie in Python and Javascript.</p>
      <h2>Projects</h2>
        <ul>
          <li><a href="http://beerledge.com">BeerLedge</a></li>
          <li><a href="https://github.com/joshfinnie/pushfile">Pushfile</a></li>
          <li><a href="http://www.tweetpng.com">Tweet PNG</a></li>
          <li><a href="http://www.howoldisthismetrocar.com">How Old is this Metro Car?</a></li>
        </ul>

        <p class="text-center"><a href="https://github.com/joshfinnie/">Other open-source projects found on Github</a>.</p>
        <h2>Resume</h2>
        <p>
            <strong>Education:</strong> MS in Geography &#8211; Central Connecticut State University (expected), BA in Economics &amp; Minor in Mathematics &#8211; University of Connecticut
        </p>
        <p>
            <strong>Experience:</strong> Software Maven &#8211; TrackMaven, Application Developer &#8211; Koansys, LLC., Trainer &#8211; Aetna, Plan Coordination Consultant &#8211; Aetna
        </p>
        <p>
            <strong>Languages:</strong> Python (Django, Pyramid, Flask), Javascript (Node, Angular, jQuery), PHP (Wordpress, Drupal)
        </p>
        <p>
            <strong>Databases:</strong> PostgreSQL, MongoDB, MySQL, ArcSDE
        </p>
        <p>
            <strong>Operating Systems:</strong> OS X, Ubuntu Linux, Windows
        </p>
        <p>
            <strong>SCM:</strong> GIT
        </p>
        <p>
            <strong>Other Interests:</strong> Cycling, Photography, Amateur Radio (<a href="http://www.qrz.com/db/W1OFZ">W1OFZ</a>)
        </p>

        <p class="text-center"><a href="{{ get_asset('docs/finnie-resume.pdf') }}">Download full resume (PDF)</a>.</p>

        <h2>PGP Public Key</h2>
        <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1.4.13 (Darwin)

mQMuBFI8r6wRCADwh5ePUHml036Tz1de1XAGdDYJfqNBDK1bk8wc4EduMlOsCFIo
VPf8VcerY283sCcaEv7JjZzq6nGLguM43gRGpFO+Qmkq8lP/+VzYHalIg8dwo4q7
vCzQXSqITO8S/UkSKnu+ZXz+nPACp3vcVbzLv3c2U9YgCrZM/QFGmNsaaTZeIV99
cbpiFj0bqXOX+g8Vrb1Kvsi3T92M/kebtaJmtv5EQEKjiKSZ7eGkLy8cRkKXbIvY
KNYtVAyzJkQJBU2TEQlpfusZkyh61D8DeW+3wM6p28K8YzfMckq3ivwEVs2GcMZV
iMqawOqCqRTpJBEX8iIO5SAapI9Bngm7XEuzAQCE4nt5QOpFrBp5WuDKtiDRUwuV
Jp/qN3u3OKBPitpwxQf/f8vME1JTSq57SsYJpKxLCSCzBk4RXSmIMgEi2kCelNZa
Cn9VhBoSFWPBpJqhzhJ3pnKFxJ+91zH6VB33nG4EcwtSh8P9qN6ymJwwezDXsp+i
B39K4UpSKIPc/ZtZPN6iGfn88NK0PQJd65js2MWTJDsTVOrPJPGDSXFGUUtB2o9k
+7eTkpBtS1utVXBUBnyV1CsVAKTg5HZwADeswIIXWAnD7a1jkPB/PW2k8WVOkeqq
gISQ5xFqIwGEfuJQVfy2oIYeYzneg23EBWuMEszpgjGF7kM1VKA/KPI+8Nngb1zj
h3idk2NvtULlu3HW2DZk72/0RE+ocpZjszsAKAH7Ogf/T0BYh8NYKSV0JMUdi8qn
dtnqRgf69T3uyc5U7K3FUY8ML+ENJ6+yVQFzqRG1It5UAzkaoV0jnkYQpcDIaKL1
/SHCxBOezmX9U8A3K3Z2Vr42FM0BmTgYkDOCmhAFXQ2PCam/5LtD7lmDReZE9rxh
l+ZGCNQuNNA01kW6rQctaRjj5zjNxMo42P8pXBoviWl0EP8X1DX5CV1tBbZ5FQXM
C9EA2Bi9KXA1CQJ4qD/b1uFSnZ+OHLzW3V/n5iOjzkrPFOtxb8+yoLxRFHAxlAgi
ZVVnnijbCtHxIwkKdAasFkvqqfMBH9tSxL7HA21XXdOo4wIDuluOSu8RfW99WeLU
FbQfSm9zaCBGaW5uaWUgPG1lQGpvc2hmaW5uaWUuY29tPoh6BBMRCAAiBQJSPK+s
AhsDBgsJCAcDAgYVCAIJCgsEFgIDAQIeAQIXgAAKCRBvHXG1XjGvIIKUAP9aU28K
JMrXA1BIIleWXsOKNdJsiJZB9D/B0xYwHo3hOQD/V+tRWNlrJs6hgfmhun7jFuvi
7m8Vo3qd0xHQdbqV8ZO5Ag0EUjyvrBAIANTj3VXmPBkH95jB526XS5D/1Z/R+cQV
c9sDG/4SCziw1j+MAr5GeXaH9VP+ubBnqWqp5VAxUOZCZHhuXvH+MBg3uPatwBu2
MoqgWZi5H7yE/PriSCXndiFr6lAPnUM2K8SFKkKNhcBiJv12n6xdMsDg/peU7NID
CbB1mEyW2wKJfTcK44NNw1GQ1wU43YUFm3GvARLVeZdwUhrmAxdmhSXvSj+Ob7QQ
Dw69ceEX1pG8pRmqj/hU4gV90zLbWse/ISuMJLAa2OaBs+ghO9YwAqjPNGlRc7Qm
PN6/wq4uxSCoKndqUvWUS0S5E0FF4E3zcn61vJzRqKy8Y3qzESeOAmsAAwUH/iou
LfohbShY1h/wPV6zCUtFxqM/nNkDE7ezmOt2hNVdq1MvvNp9EuJoVrDYTxOXimj0
xMQvJhZxdJPNqr5sgOHOf3kAubAXETgLMGvxRay7B4EUVlldPqH1Q4knNPlNML7f
IqVIaONtSV8s5svflGRH8S6BmCh2fzeE8r23ptgTmyTqo+2U0R0QeI2+pIGmbnIy
fTSvkO+sMEG5oVMi+f4Zic6dYz4qrLI5Av7c0MmhTaiXPY9kgpcnGR4D0socuOVy
PC8nVr4F9KK90BKsSdjYeiyrg27HLm0IB0Akmufc7BS8lmfwKfnMK43UGOfQ6U20
ndcK8ytXGXb8WxScQH+IYQQYEQgACQUCUjyvrAIbDAAKCRBvHXG1XjGvICygAP9n
fTGarl8uq3BtxZOY3kKutzV7pVKJ2FjvaSxxFJtcFgD/S6pEj3mmyek/Fk1K3nWz
NyjUdCfh8mcthWHFCXYWucY=
=IBFi
-----END PGP PUBLIC KEY BLOCK-----
      </pre>
    </div>
{% endblock %}
