{% extends 'layout.html' %}

{% block content %}
  {% include 'page.navbar.html' %}
  <hr>
    <div class="row-fluid blogpage">
      <h1>About Me</h1>
      <p>My name is Josh Finnie. I am an Application Developer at <a href="http://koansys.com/">Koansys, LLC</a>. in Washington, DC.</p>
      <p>My main interests are Python and Geolocation, but I also am interested in upcoming technologies like Node.js.</p>
      <h2>Projects</h2>
        <ul>
          <li><a href="http://beerledge.com">BeerLedge</a></li>
          <li><a href="http://www.howoldisthismetrocar.com">How Old is this Metro Car?</a></li>
          <li><a href="http://www.lasttweetpng.com">Last Tweet PNG</a></li>
          <li><a href="http://flask-job-board.herokuapp.com">Flask Job Board</a> (on <a href="https://github.com/joshfinnie/Flask-Job-Board">GitHub</a>)</li>
          <li><a href="http://osqa-heroku.herokuapp.com/"><span class="caps">OSQA</span> on Heroku</a> (on <a href="https://github.com/joshfinnie/OSQA-Heroku">GitHub</a>)</li>
        </ul>
        <h2>Resume</h2>
        <p>
            Education: <strong>MS in Geography &#8211; Central Connecticut State University (expected), BA in Economics &amp; Minor in Mathematics &#8211; University of Connecticut</strong>
        </p>
        <p>
            Experience: <strong>Application Developer &#8211; Koansys, LLC., Trainer &#8211; Aetna, Plan Coordination Consultant &#8211; Aetna</strong>
        </p>
        <p>
            Languages: <strong>Python (Pyramid, Django, Flask), Javascript (jQuery, Node, Angular), PHP (Wordpress, Drupal)</strong>
        </p>
        <p>
            Databases: <strong>MySQL, MongoDB, PostgreSQL, ArcSDE</strong>
        </p>
        <p>
            Operating Systems: <strong>Windows XP/Vista/7, OS X 10.6/10.7/10.8, Ubuntu Linux 12.04 LTS/12.10</strong>
        </p>
        <p>
            SCM: <strong>GIT</strong>
        </p>
        <p>
            Other Interests: <strong>Cycling, Photography, Amateur Radio (<a href="http://www.qrz.com/db/W1OFZ">W1OFZ</a>)</strong>
        </p>
    </div>
{% endblock %}
