[build]
  publish = "dist/"
  command = "pnpm build || ( npm install pnpm && pnpm build )"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Permissions-Policy = "camera=(), microphone=(), geolocation=()"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[dev]
  command = "pnpm dev"
  targetPort = 3333
