{% extends "base.html" %}
{% block header_title %}Blog Posts{% endblock %}

{% block content %}
{% include 'page.navbar.html'%}
<div class="container">
{% for article in articles %}
<h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br /><small class="indent"><i class="fa fa-calendar" aria-hidden="true"></i> {{article.date.strftime('%B %d, %Y')}}{% if article.tags %} | <i class="fa fa-tags" aria-hidden="true"></i> {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</small></h2>
{% endfor %}
</div>
{% endblock content %}
