<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/favicon.ico">

    <title>{% block header_title %}{% endblock %} | {{ SITENAME }}</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
      crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/styles/pygment.css">
    <link
      rel="stylesheet"
      href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/styles/jf.css">
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
        <span class="ml-auto">
          <a href="https://twitter.com/joshfinnie">
            <span class="fa-stack fa-1x" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://github.com/joshfinnie">
            <span class="fa-stack fa-1x" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fab fa-github-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://linkedin.com/in/joshfinnie">
            <span class="fa-stack fa-1x" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fab fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
          </a>
          <a href="https://instagram.com/joshfinnie">
            <span class="fa-stack fa-1x" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse" aria-hidden="true"></i>
            </span>
          </a>
        </span>
      </nav>
    </header>
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/camera.jpg" class="img-fluid" alt="Camera Body">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a href="{{ SITEURL  }}/" class="nav-link">Blog</a>
          </li>
          {% for page in pages %}
            <li class="nav-item">
              <a href="{{ SITEURL  }}/{{ page.url  }}" class="nav-link">{{ page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <!-- Begin page content -->
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <p class="text-muted ">&copy; 2010 - <script>document.write(new Date().getFullYear())</script><noscript>2018</noscript>. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" class="cc-img"/></a></p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    {% if GOOGLE_ANALYTICS %}
      {% include "partials/ga.html" %}
    {% endif %}
  </body>
</html>
