<div class="topper">
  <div class="container">
    <div class='navbar text-center'>
      <h1 class="masthead">Josh <img src="/assets/images/avatar.jpeg" class="img-circle" style="display: inline; margin: 0 5px;" height=10% width=10% /> Finnie</h1>
      <div class="btn-group btn-group-justified">
        <a href="/" class="btn btn-default"><i class="fa fa-home fa-fw"></i> Home</a>
        <a href="/blog/" class="btn btn-default"><i class="fa fa-bold fa-fw"></i> Blog</a>
        <a href="/about/" class="btn btn-default"><i class="fa fa-font fa-fw"></i> About</a>
        <a href="/talks/" class="btn btn-default"><i class="fa fa-text-height fa-fw"></i> Talks</a>
      </div>
    </div>
  </div>
</div>
