<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="{{ AUTHOR }}">
<meta name="description" content="{{ DESCRIPTION }}">
<meta name="keywords" content="josh, finnie, joshfinnie, python, django, javascript, angular.js, node.js">
<meta name="google-site-verification" content="TJ1RB8nr97TGCLSn7gH9BUktQiXSZ9iORXdErQiHLy0" />
<link rel="icon" type="image/x-icon" href="{{ SITEURL }}/theme/img/favicon.ico">

<link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
<link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

<script src="{{ SITEURL}}/theme/js/html5.js"></script>
