---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import BlogPostPreview from "@components/BlogPostPreview.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Pagination from "@components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const sortedPosts = allPosts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

  return paginate(sortedPosts, {
    pageSize: 10,
  });
}

interface PageProps {
  data: CollectionEntry<"blog">[];
  currentPage: number;
  totalPages: number;
}

const { page }: { page: PageProps } = Astro.props;
---

<BaseLayout title="Blog | www.joshfinnie.com" description="Blog Posts">
  <section id="main-content">
    {
      page.data.map((p) => (
        <Fragment key={p.id}>
          <BlogPostPreview id={p.id} />
        </Fragment>
      ))
    }
  </section>
  <Pagination page={page} />
</BaseLayout>
