---
import type { CollectionEntry } from 'astro:content';

import BlogPostPreview from '@components/BlogPostPreview.astro';
import Pagination from '@components/Pagination.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { getPublishedPosts } from '@lib/utils';

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const sortedPosts = await getPublishedPosts();

  return paginate(sortedPosts, {
    pageSize: 10,
  });
}

interface PageProps {
  data: CollectionEntry<'blog'>[];
  currentPage: number;
  totalPages: number;
}

const { page }: { page: PageProps } = Astro.props;
---

<BaseLayout title="Blog | www.joshfinnie.com" description="Blog Posts">
  <section id="main-content">
    {
      page.data.map((p) => (
        <Fragment key={p.id}>
          <BlogPostPreview id={p.id} />
        </Fragment>
      ))
    }
  </section>
  <Pagination page={page} />
</BaseLayout>
