/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 15px 15px 15px 0;
  max-width: 720px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

a.article-anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}

.indent {
  padding-left: 25px;
}

h1.page-header {
  padding-bottom: 15px;
  font-size: 4rem;
}

h2.page-header {
  padding-bottom: 15px;
  font-size: 3rem;
}

.unsplash {
  font-size: 10px;
  color: white;
  background-color: black;
  margin-top: -15px;
  padding-left: 5px;
}
