//colors
$primary-color: #75A3FF;
$link-color: darken($primary-color, 10%);
$color_dove_gray_approx: #6e6e6e;
$color_lochmara_approx: #0088cc;
$white: white;
$color_gallery_approx: #eee;
$color_cape_cod_approx: #404040;
$black: black;
$color_cerulean_approx: #00aced;
$color_mine_shaft_approx: #333;
$color_deep_cerulean_approx: #007fb1;
$color_astral_approx: #3f729b;
$color_tuatara_approx: #373636;
$color_celeste_approx: #ccc;

h1 {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
h2 {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
h3 {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
h4 {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
h5 {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
h6 {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
p {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}
.container {
    width: auto;
    max-width: 920px;
    font-size: 1.25em;
}
.header {
    width: auto;
    padding-bottom: 10px;
}
.headerbar {
    background: $primary-color;
    height: 10px;
}
.topper {
    background: $primary-color;
    width: 100%;
}
.footer {
    width: auto;
    font-size: 1em;
}
.indent {
    padding-left: 25px;
}
.homepage {
    padding-top: 50px;
    a {
        color: #6E6E6E;
        &:hover {
            color: $color_lochmara_approx;
            text-decoration: none;
        }
    }
}
.masthead {
    font-size: 100px;
    color: $white;
}
.homehead {
    font-size: 100px;
}
.social-buttons {
    padding-top: 45px;
    text-decoration: none;
}
.tags {
    padding-top: 10px;
}
.email_signup {
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    color: #EEE;
    background-color: $color_cape_cod_approx;
    margin: 40px 0;
    //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
    border-radius: 10px;
    legend {
        color: $white;
    }
    label {
        display: none;
    }
}
.last_tweet {
    margin-top: 25px;
}
a {
    color: $link-color;
    &:active {
        color: $black;
        text-decoration: none;
    }
}
.black {
    color: $black;
}
.highlighttable {
    width: 100%;
}
.img-responsive {
    display: inline;
}
.linenos {
    display: none;
}
code {
    color: $color_tuatara_approx;
    background-color: $color_celeste_approx;
    white-space: pre;
}
body {
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 300;
}
.orange > a {
    color: $link-color;
}
.twitter-button > a {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        color: #00ACED;
        text-decoration: none;
    }
}
.github-button > a {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        color: $color_mine_shaft_approx;
        text-decoration: none;
    }
}
.linkedin-button > a {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        color: #007FB1;
        text-decoration: none;
    }
}
.instagram-button > a {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
        color: #3F729B;
        text-decoration: none;
    }
}
// AddThis Share Button Stuff
span.at300bs.at15nc {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-right: 10px;
}
.addthis_sharing_toolbox {
    padding-bottom: 10px;
}
@media(max-width: 992px) {
    .homepage {
        padding-top: 0;
        text-align: center;
    }
}
@media(max-width: 768px) {
    .header-avatar {
        display: none !important;
    }
    .footer {
        text-align: center;
    }
    .indent {
        padding-left: 0px;
    }
}
