{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row homepage">
        <div class="col-md-8">
            <h1 class="homehead">Josh Finnie</h1>
            <h2><a href="{{ get_url('about') }}">About</a> | <a href="{{
                    get_url('blog') }}">Blog</a> | <a href="{{ get_url('talk')
                    }}">Talks</a></h2>
        </div>
        <div class="col-md-4">
            <p>
            <img src="{{ get_asset('images/avatar.jpeg') }}" class="img-circle img-responsive"/>
            </p>
        </div>
    </div>
    <div class="row social-buttons">
        <div class="col-md-3 col-xs-6">
            <span class="twitter-button orange">
                <a href="https://twitter.com/joshfinnie">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </span>
        </div>
        <div class="col-md-3 col-xs-6">
            <span class="github-button orange">
                <a href="https://github.com/joshfinnie">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </span>
        </div>
        <div class="col-md-3 col-xs-6">
            <span class="linkedin-button orange">
                <a href="https://linkedin.com/in/joshfinnie">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </span>
        </div>
        <div class="col-md-3 col-xs-6">
            <span class="instagram-button orange">
                <a href="https://instagram.com/joshfinnie">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </span>
        </div>
    </div>
</div>
{% endblock %}
