{% extends 'layout.html' %}

{% block content %}
    <div class="row-fluid homepage">
        <div class="span8">
            <h1 class="masthead">Josh Finnie</h1>
            <h2><a href="{{ get_url('about') }}">About</a> | <a href="{{ get_url('blog') }}">Blog</a></h2>
        </div>
        <div class="span4">
            <p>
                <img src="{{ get_asset('images/avatar.jpeg') }}" class="img-circle">
            </p>
        </div>
    </div>
    <div class="row-fluid social-buttons">
        <p class='text-center'>
            <a href="https://twitter.com/joshfinnie"><span class="twitter_button"></span></a>
            <a href="https://github.com/joshfinnie"><span class="github_button"></span></a>
            <a href="https://linkedin.com/in/joshfinnie"><span class="linkedin_button"></span></a>
            <a href="https://instagram.com/joshfinnie"><span class="instagram_button"></span></a>
        </p>
    </div>
{% endblock %}
