/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 *     customized styles start here...
 */

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nunito');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('./prism.css');

body {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
}

.container {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  max-width: 100%;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 16px;
  line-height: 1.5em;
}

h1 { font-size: 2em;  }
h2 { font-size: 1.5em;  }
h3 { font-size: 1.17em;  }
h4 { font-size: 1.12em;  }
h5 { font-size: .83em;  }
h6 { font-size: .75em;  }

.text-center {
  text-align: center;
}

.twitter {
  color: #1da1f2;
}

.github {
  color: #4078c0;
}

.linkedin {
  color: #0077b5;
}

.instagram {
  color: #405de6;
}

.header {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  grid-template-areas:
    "header"
    "buttons"
}

@media (min-width: 600px) {
  .header {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-template-areas:
      "header buttons"
  }

  .header .title {
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
    text-align: left;
    grid-area: header;
  }

  .header .button-wrapper {
    text-align: center;
    grid-area: buttons;
    padding-top: 10px;
  }
}

.header .title {
  font-size: 1.5em;
  text-align: center;
  grid-area: header;
}

.header .button-wrapper {
  text-align: center;
  grid-area: buttons;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  border-top: #000;
}

.navbar a {
  color: #6c757d;
  text-decoration: none;
  font-size: .75em;
}
