---
import BaseLayout from "../../layouts/BaseLayout.astro";

// collection
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../blog/*.md");
  let allTagUnique = [...new Set(allPosts.map((p) => p.frontmatter.tags))];
  allTagUnique = [...new Set(allTagUnique.flat())];
  return allTagUnique.map((tag) => ({ params: { tag }, props: { allPosts } }));
}

const { params } = Astro;
const { allPosts } = Astro.props;

const posts = allPosts.filter((post) => post.frontmatter.tags?.includes(params.tag)).sort((a, b) => new Date(b.date) - new Date(a.date));
---

<BaseLayout>
  <article id="main-content">
    <h1 class="font-bold text-3xl mb-10 mt-5">Tag: {params.tag}</h1>
    <main class="prose max-w-none">
      <ul>
        {posts.map((p) => (
          <li>
            <a href=`${p.url}`>{p.frontmatter.title}</a>
          </li>
        ))}
      </ul>
      <div class="flex justify-end">
        <a href="/tags/" title="All Tags">All Tags &rarr;</a>
      </div>
    </main>
  </article>
</BaseLayout>
