---
import BlogPostPreview from '@components/BlogPostPreview.astro';
import BaseLayout from '@src/layouts/BaseLayout.astro';
import { getPublishedPosts, getTags } from '@lib/utils';

export async function getStaticPaths() {
  const allPosts = await getPublishedPosts();
  const allTags = await getTags();
  return allTags.map((tag) => ({ params: { tag }, props: { allPosts } }));
}

const { params } = Astro;
const { allPosts } = Astro.props;

const posts = allPosts.filter((post) => post.data.tags?.includes(params.tag));
---

<BaseLayout>
  <article id="main-content">
    <h1 class="font-bold text-3xl mb-10 mt-5 dark:text-white">Blog Posts taged with {params.tag}</h1>
    <main class="prose dark:prose-invert max-w-none">
      {
        posts.map((p) => (
          <Fragment key={p.id}>
            <BlogPostPreview id={p.id} />
          </Fragment>
        ))
      }
      <div class="flex justify-end">
        <a href="/tags/" title="All Tags">All Tags &rarr;</a>
      </div>
    </main>
  </article>
</BaseLayout>
