---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../blog/*.md");
const tagCounts = {};
const allTags = [];

allPosts.map((p) => p.frontmatter.tags.forEach((t) => allTags.push(t)));
allTags.forEach((t) => (tagCounts[t] = (tagCounts[t] || 0) + 1));

const tags = Object.keys(tagCounts)
  .map((k) => [k, tagCounts[k]])
  .sort((a, b) => b[1] - a[1]);
---

<BaseLayout title="Tags | www.joshfinnie.com">
  <article id="main-content">
    <h1 class="font-bold text-3xl mb-10 mt-5">Tags</h1>
    <main class="prose max-w-none" style="column-count: 3">
      <ul>
        {tags.map((tag) => (
          <li>
            <a class="tag" href={`/tags/${tag[0]}/`} title={`View posts tagged under "${tag}"`}>
              {tag[0]} ({tag[1]})
            </a>
          </li>
        ))}
      </ul>
    </main>
  </article>
</BaseLayout>
