doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title Installing Drupal with Ansible
    meta(name='description', content='A framework for easily creating beautiful presentations using HTML')
    meta(name='author', content='Josh Finnie <josh@jfin.us>')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/reveal.min.css')
    link#theme(rel='stylesheet', href='css/theme/moon.css')
    // For syntax highlighting 
    link(rel='stylesheet', href='lib/css/zenburn.css')
    // if lt IE 9
        script(src='lib/js/html5shiv.js')
body
    .reveal
        .slides
            !{ content }
            </section>
    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script(src='js/reveal-initialize.js')
