---
import { getCollection } from "astro:content";
import Bolt from "@icons/bolt.svg";

import BaseLayout from "@src/layouts/BaseLayout.astro";
import Talk from "@components/Talk.astro";

const allTalks = await getCollection("talks");
const talks = allTalks[0].data.sort((a, b) => Date.parse(b.date) - Date.parse(a.date));
---

<BaseLayout title="Talks | www.joshfinnie.com">
  <article id="main-content">
    <h1 class="font-bold text-3xl mb-10 mt-5 dark:text-white">Talks</h1>
    <p class="mb-5 text-base dark:text-white">
      (<Bolt size={20} style="display:inline-block" />
      denotes a lightning talk)
    </p>
    {
      talks.map((t) => (
        <Fragment key={t.name}>
          <Talk talk={t} />
        </Fragment>
      ))
    }
  </article>
</BaseLayout>
