.title h1 {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  color: var(--textNormal);
  letter-spacing: 1.5px;
  text-decoration: none;
}

.twitter {
  color: #1DA1F2 !important;
}

.github {
  color: #181717 !important;
}

.linkedin {
  color: #0077B5 !important;
}

.instagram {
  color: #E4405F !important;
}

.rss {
  color: #FFA500 !important;
}
