---
import { getPublishedPosts } from '@lib/utils';

import BlogPostPreviewLite from './BlogPostPreviewLite.astro';

interface Props {
  id: string;
  tags: string[];
}

const { id, tags } = Astro.props;
const allPosts = await getPublishedPosts();

const excludedTags: string[] = ['blog', 'news', 'announcement'];
const finalTags = tags.filter((tag: string) => !excludedTags.includes(tag));
const finalTagSet = new Set(finalTags);
const overlappingTags = tags.filter((tag) => finalTagSet.has(tag));

const posts = allPosts
  .filter((post) => post.id != id && post.data.tags?.filter((tag: string) => finalTags.includes(tag)).length > 0)
  .map((post) => ({
    ...post,
    sameTagCount: post.data.tags.filter((tag: string) => overlappingTags.includes(tag)).length,
  }))
  .sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
  })
  .slice(0, 5);
---

{
  posts.length > 0 ? (
    <div class="mt-10 not-prose">
      <h2 class="text-center text-xl font-bold text-zinc-800 dark:text-zinc-100 mb-6">Related Posts</h2>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        {posts.map((post) => (
          <BlogPostPreviewLite id={post.id} />
        ))}
      </div>
    </div>
  ) : undefined
}
