---
import { getPublishedPosts } from '@lib/utils';

import BlogPostPreviewLite from './BlogPostPreviewLite.astro';

interface Props {
  id: string;
  tags: string[];
}

const { id, tags } = Astro.props;
const allPosts = await getPublishedPosts();

const excludedTags: string[] = ['blog', 'news', 'announcement'];
const finalTags = tags.filter((tag: string) => !excludedTags.includes(tag));
const finalTagSet = new Set(finalTags);
const overlappingTags = tags.filter((tag) => finalTagSet.has(tag));

const posts = allPosts
  .filter((post) => post.id != id && post.data.tags?.filter((tag: string) => finalTags.includes(tag)).length > 0)
  .map((post) => ({
    ...post,
    sameTagCount: post.data.tags.filter((tag: string) => overlappingTags.includes(tag)).length,
  }))
  .sort((a, b) => {
    return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
  })
  .slice(0, 5);
---

{
  posts.length > 0 ? (
    <div class="prose prose-zinc dark:prose-invert mt-5 p-5 rounded-lg max-w-none">
      <h2 class="text-center">Related Posts</h2>
      {posts.map((post) => (
        <Fragment key={post.id}>
          <BlogPostPreviewLite id={post.id} />
        </Fragment>
      ))}
    </div>
  ) : undefined
}
