---
import Date from "./Date.astro";

const { post } = Astro.props;
---

<article>
    <header class="dark:text-white">
        <a href={`/blog/${post.slug}/`} title={post.data.title}>
            <h3 class="font-bold text-2xl" set:html={post.data.title}></h3>
            <Date date={post.data.date} />
        </a>
    </header>
</article>
