---
import NavBar from "./NavBar.astro";
import Social from "./Social.astro";
---

<header class="border-b-2 border-gray-400 mb-5">
  <NavBar />
  <div class="flex flex-col sm:flex-row justify-between content-center items-center my-2 dark:text-white">
    <div>
      <h1 class="font-logo font-bold text-4xl tracking-wider">
        <a href="/">@joshfinnie</a>
      </h1>
    </div>
    <Social />
  </div>
</header>
