---
import { parseISO, format } from "date-fns";

import Calendar from "@icons/calendar.svg";

const { date } = Astro.props;
const formattedDate = format(parseISO(date), "LLLL d, yyyy");
---

<span class="flex items-center gap-1 prose prose-zinc dark:prose-invert">
  <Calendar size={20} style="display:inline-block" />
  {formattedDate}
</span>
