---
import { Image } from "astro:assets";

import headshot from "@assets/josh.jpg";
---
<div id="main-content" class="flex flex-col sm:flex-row my-10 items-center bg-gray-200 dark:bg-gray-900 dark:text-white p-5 shadow-lg rounded-lg">
  <Image class="rounded-lg flex-none w-1/4 h-1/4" src={headshot} alt="Josh Finnie Headshot" />
  <div class="flex-grow">
    <h1 class="font-bold text-2xl my-5 ml-5">Hello, I am Josh!</h1>
    <p class="prose max-w-none ml-5 dark:prose-invert">
      I currently work on the API & Delivery team at
      <a href="https://www.peopledatalabs.com/" title="People Data Labs">People Data Labs</a>.
      I am an polyglot software engineer with over 10 years of programming experience.
      My current interests are in learning all I can about Rust and Go while staying current in Python and Javascript.
    </p>
  </div>
</div>
