<div id="main-content" class="flex flex-col sm:flex-row my-10 items-center bg-gray-200 p-5 shadow-lg rounded-lg">
  <img class="rounded-lg flex-none w-1/4 h-1/4" src="/assets/josh2.webp" alt="Josh Finnie Headshot" />
  <div class="flex-grow">
    <h1 class="font-bold text-2xl my-5 ml-5">Hello, I am Josh!</h1>
    <p class="prose max-w-none ml-5">
      I help develop
      <a href="https://www.pbs.org" title="PBS.org">PBS.org</a> working on backend development and helping everywhere throughout
      the stack. I am an polyglot software engineer with over 10 years of programming experience. My current interests are
      in learning all I can about Rust and Go while staying current in Python and Javascript.
    </p>
  </div>
</div>
