---
import Github from "@icons/github.svg";
import Bluesky from "@icons/bluesky.svg";
import Instagram from "@icons/instagram.svg";
import LinkedIn from "@icons/linkedin.svg";
import Twitch from "@icons/twitch.svg";
---

<div class="mt-5 mb-10 sm:px-8">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="mx-auto max-w-2xl lg:max-w-5xl">
        <div>
          <h1 class="font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl prose">
            senior software engineer &middot; data nerd
          </h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400 prose"></p>
          <p class="mt-2 text-base text-zinc-600 dark:text-zinc-400 prose text-justify">
            By day, I work on the API and Delivery team at People Data Labs, helping power data products at scale. I
            have over a decade of full-stack experience with a strong focus on backend engineering. I've led complex
            projects, mentored teams, and built systems that translate business needs into reliable software. Lately,
            I’ve been diving deeper into Rust and Go while keeping my Python and JavaScript skills sharp.
          </p>
          <p class="mt-2 text-base text-zinc-600 dark:text-zinc-400 prose text-justify">
            I’m passionate about turning complexity into clarity through clean code, smart data, thoughtful
            architecture, and a focus on building tools that just work.
          </p>
          <div class="mt-6 flex gap-6">
            <a
              href="https://github.com/joshfinnie"
              aria-label="Follow on GitHub"
              class="group -m-1 p-1 h-8 w-8 flex items-center justify-center"
              target="_blank"
              rel="me noopener noreferrer"
            >
              <Github
                class="block h-6 w-6 text-zinc-500 transition group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300"
              />
            </a>
            <a
              href="https://bsky.app/profile/joshfinnie.bsky.social"
              aria-label="Follow on Bluesky"
              class="group -m-1 p-1 h-8 w-8 flex items-center justify-center"
              target="_blank"
              rel="me noopener noreferrer"
            >
              <Bluesky
                class="block h-6 w-6 text-zinc-500 transition group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300 scale-[0.85]"
              />
            </a>
            <a
              href="https://instagram.com/joshfinnie"
              aria-label="Follow on Instagram"
              class="group -m-1 p-1 h-8 w-8 flex items-center justify-center"
              target="_blank"
              rel="me noopener noreferrer"
            >
              <Instagram
                class="block h-6 w-6 text-zinc-500 transition group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300"
              />
            </a>
            <a
              href="https://linkedin.com/in/joshfinnie/"
              aria-label="Follow on LinkedIn"
              class="group -m-1 p-1 h-8 w-8 flex items-center justify-center"
              target="_blank"
              rel="me noopener noreferrer"
            >
              <LinkedIn
                class="block h-6 w-6 text-zinc-500 transition group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300"
              />
            </a>
            <a
              href="https://twitch.tv/joshfinnie"
              aria-label="Follow on Twitch"
              class="group -m-1 p-1 h-8 w-8 flex items-center justify-center"
              target="_blank"
              rel="me noopener noreferrer"
            >
              <Twitch
                class="block h-6 w-6 text-zinc-500 transition group-hover:text-zinc-600 dark:text-zinc-400 dark:group-hover:text-zinc-300"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
