---
import "../styles/global.css";
import "../styles/prism.css";
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';

const { title, description, permalink, image } = Astro.props;

const defaultTitle = "www.joshfinnie.com"
const defaultDescription = "The personal/professional website of Josh Finnie."
const defaultPermalink = "https://www.joshfinnie.com"
const defaultImage = "card.png"
---
<html lang="en">
  <head>
    <BaseHead
      title={title || defaultTitle}
      description={description || defaultDescription}
      permalink={permalink || defaultPermalink}
      image={`https://www.joshfinnie.com${image || defaultImage}`}
    />
  </head>
  <body>
    <div class="w-full mx-auto sm:max-w-screen-md px-4">
      <BlogHeader />
      <slot />
      <Footer />
    </div>
  </body>
</html>
