---
const navLinks = [
  { href: "/about/", label: "About" },
  { href: "/blog/", label: "Blog Posts" },
  { href: "/projects/", label: "Projects" },
  { href: "/talks/", label: "Speaking" },
  { href: "/uses/", label: "Uses" },
];
---

<nav class="pointer-events-auto hidden md:block">
  <ul
    class="flex rounded-full bg-white/90 px-3 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:bg-zinc-800/90 dark:text-zinc-200 dark:ring-white/10"
  >
    {
      navLinks.map((link) => (
        <li>
          <a
            class="relative block text-center w-[95px] px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-400"
            href={link.href}
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
