<nav class="flex gap-10 justify-center border-b-2 py-2 mb-3 border-gray-400">
  <a href="/" title="link to Home">Home</a>
  <a href="/blog" title="link to Blog">Blog</a>
  <a href="/about" title="link to About">About</a>
  <a href="/talks" title="link to Talks">Talks</a>
</nav>
