<nav class="flex gap-10 justify-center border-b-2 py-2 mb-3 border-gray-400 dark:text-white" >
  <a href="/" title="link to the Home page">Home</a>
  <a href="/blog/" title="link to the Blog">Blog</a>
  <a href="/about/" title="link to the About page">About</a>
  <a href="/uses/" title="link to things I use">Uses</a>
  <a href="/talks/" title="link to the Talks page">Talks</a>
</nav>
