---
const { page } = Astro.props;
---

<div class="prose dark:prose-invert flex justify-end max-w-none">
  {page.url.prev && (
    <a href={page.url.prev} title="Go to Previous" class="mr-5">
      &larr; Prev
    </a>
  )}
  {page.url.next && (
    <a href={page.url.next} title="Go to Next">
      Next &rarr;
    </a>
  )}
</div>
