---
import { getEntry } from 'astro:content';
import ProjectHero from './ProjectHero.astro';
import { Button } from './ui/button';

interface Props {
  id: string;
}

const { id } = Astro.props;

const project = await getEntry('project', id);
---

<article class="prose prose-zinc max-w-none pb-10 dark:prose-invert">
  <ProjectHero id={project.id} />

  <a href={`/projects/${project.id}/`}>
    <Button className="float-right">More Details</Button>
  </a>
</article>
