---
import { Button } from "./ui/button";
import ProjectHero from "./ProjectHero.astro";

const { project } = Astro.props;
---

<article class="prose prose-zinc max-w-none pb-10 dark:prose-invert">
  <ProjectHero {...project.data} />

  <a href={`/projects/${project.slug}/`}>
    <Button className="float-right">More Details</Button>
  </a>
</article>
