---
import { getEntry } from 'astro:content';
import { Button } from '@/components/starwind/button';
import ProjectHero from './ProjectHero.astro';

interface Props {
  id: string;
}

const { id } = Astro.props;

const project = await getEntry('project', id);
---

{ project && 
<article class="prose prose-zinc max-w-none pb-10 dark:prose-invert">
  <ProjectHero id={project.id} />

  <Button href={`/projects/${project.id}/`} class="float-right">More Details</Button>
</article>
}
