<div>
  <span class="flex justify-center py-2">
    <a href="https://twitter.com/joshfinnie" target="_blank" rel="noopener noreferrer" class="twitter">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
        <span class="hidden">Twitter Link</span>
      </span>
    </a>
    <a href="https://github.com/joshfinnie" target="_blank" rel="noopener noreferrer" class="github">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
        <span class="hidden">Github Link</span>
      </span>
    </a>
    <a href="https://linkedin.com/in/joshfinnie" target="_blank" rel="noopener noreferrer" class="linkedin">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
        <span class="hidden">Linkedin Link</span>
      </span>
    </a>
    <a href="https://instagram.com/joshfinnie" target="_blank" rel="noopener noreferrer" class="instagram">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
        <span class="hidden">Instagram Link</span>
      </span>
    </a>
    <a href="/rss.xml" class="rss">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
        <span class="hidden">RSS Link</span>
      </span>
    </a>
  </span>
</div>

<style>
  .twitter {
    color: #1da1f2;
  }

  .github {
    color: #181717;
  }

  .linkedin {
    color: #0077b5;
  }

  .instagram {
    color: #e4405f;
  }

  .rss {
    color: #ffa500;
  }
</style>
