---
import { Icon } from 'astro-icon/components'
---

<div class="flex items-center gap-3">
  <a href="https://threads.net/@joshfinnie" target="_blank" rel="me noopener noreferrer">
    <Icon name="threads" size={33} aria-hidden="true" />
    <span class="visuallyhidden">Threads Link</span>
  </a>
  <a href="https://github.com/joshfinnie" target="_blank" rel="noopener noreferrer">
    <Icon name="github" size={40} aria-hidden="true" />
    <span class="visuallyhidden">Github Link</span>
  </a>
  <a href="https://linkedin.com/in/joshfinnie" target="_blank" rel="noopener noreferrer">
    <Icon name="linkedin" size={40} aria-hidden="true" />
    <span class="visuallyhidden">Linkedin Link</span>
  </a>
  <a href="https://instagram.com/joshfinnie" target="_blank" rel="noopener noreferrer">
    <Icon name="instagram" size={40} aria-hidden="true" />
    <span class="visuallyhidden">Instagram Link</span>
  </a>
  <a href="https://twitch.tv/joshfinnie" target="_blank" rel="noopener noreferrer">
    <Icon name="twitch" size={40} aria-hidden="true" />
    <span class="visuallyhidden">Twitch Link</span>
  </a>
</div>

<style>
  .visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
</style>
