---
import TagIcon from "./icons/Tags.astro";

const { tags } = Astro.props;
const tagLen = tags.length;
---

<div class="prose dark:prose-invert flex gap-1 items-center">
  <TagIcon size="25" />
  {tags.map((tag: string, idx: number) => (
    <span>
      <a href={`/tags/${tag}/`}>{tag}</a>{tagLen !== idx + 1 ? ", " : ""}
    </span>
  ))}
</div>
