---
import TagsIcon from "@icons/tags.svg";

const { tags } = Astro.props;
---

<div class="flex gap-1 items-center prose prose-zinc dark:prose-invert">
  <TagsIcon size={25} style="display:inline-block" />
  {
    tags.map((tag: string, idx: number) => (
      <Fragment key={tag}>
        <a href={`/tags/${tag}/`}>{tag.trim()}</a>
        {idx !== tags.length - 1 ? "," : ""}
      </Fragment>
    ))
  }
</div>
