---
import { Icon } from 'astro-icon/components'

const { tags } = Astro.props;
const tagLen = tags.length;
---

<div class="flex gap-1 items-center dark:text-white">
  <Icon name="tags" size={25} style="display:inline-block" />
  {tags.map((tag: string, idx: number) => (
    <span>
      <a href={`/tags/${tag}/`}>{tag}</a>{tagLen !== idx + 1 ? ", " : ""}
    </span>
  ))}
</div>
