---
import { Moon, Sun } from "lucide-react";
---

<div 
  x-data="{ darkMode: localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches) }"
  x-init="$watch('darkMode', value => {
    document.documentElement.classList.toggle('dark', value);
    localStorage.theme = value ? 'dark' : 'light';
  })"
>
  <button type="button" @click="darkMode = !darkMode" id="theme-selector">
    <span class="sr-only">
      Enable <span x-show="!darkMode">light</span><span x-show="darkMode">dark</span> mode
    </span>
    <span x-show="!darkMode">
      <Moon />
    </span>
    <span x-show="darkMode">
      <Sun />
    </span>
  </button>
</div>

