---
interface Props {
  name: string;
  url: string;
}
const { name, url } = Astro.props;

const fullURL = `https://unsplash.com/@${url}`;
---

<p class="text-sm">
  Photo by
  {
    url ? (
      <>
        <a href={fullURL} rel="noopener nofollow noreferrer" target="_blank" class="underline">
          {name}
        </a>
        on
        <a href="https://unsplash.com" rel="noopener nofollow noreferrer" target="_blank" class="underline">
          Unsplash
        </a>
      </>
    ) : (
      <span>{name}</span>
    )
  }
</p>
