---
const { name, url } = Astro.props;

console.log(url);
const fullURL = `https://unsplash.com/@${url}`;
---

<p class="text-sm">
  Photo by
  {
    url ? (
      <a href={fullURL} rel="noopener nofollow noreferrer" target="_blank" class="underline">
        {name}
      </a>
    ) : (
      <span>{name}</span>
    )
  }
  {
    url ? (
      <>
        on
        <a href="https://unsplash.com" rel="noopener nofollow noreferrer" target="_blank" class="underline">
          Unsplash
        </a>
      </>
) : (<></>)
  }
</p>
