---
const { name, url } = Astro.props;

const fullURL = `https://unsplash.com/@${url}`;
---

<div class="text-center prose max-w-none mt-5">
  Article's hero photo by
  {url ? <a href={fullURL}>{name}</a> : <span>{name}</span>}
  on
  <a href="https://unsplash.com">Unsplash</a>.
</div>
