doctype html
html(lang='en')
head
    meta(charset='utf-8')
    title revealmd.js
    meta(name='description', content='A framework for easily creating beautiful presentations using HTML')
    meta(name='author', content='Josh Finnie <josh@jfin.us>')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='assets/reveal.js/css/reveal.min.css')
    link#theme(rel='stylesheet', href='assets/reveal.js/css/theme/moon.css')
    // For syntax highlighting 
    link(rel='stylesheet', href='assets/reveal.js/lib/css/zenburn.css')
    //if lt IE 9
      script(src='assets/reveal.js/lib/js/html5shiv.js')
  body
    .reveal
      .slides
        !{ content }
        </section>
    script(src='assets/reveal.js/lib/js/head.min.js')
    script(src='assets/reveal.js/js/reveal.min.js')
    script(src='js/reveal-initialize.js')
