---
import Meta from "~/components/Meta.astro";
import BlogHeader from "~/components/BlogHeader.astro";
import Footer from "~/components/Footer.astro";

import "~/assets/styles/global.css";

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Meta {title} {description} {image} />
  </head>

  <body class="antialiased text-gray-900 dark:text-slate-300 bg-white dark:bg-slate-900 font-ibm-plex-sans">
    <a class="skip-nav-link" href="#main-content">skip navigation</a>
    <div class="w-full mx-auto sm:max-w-screen-md px-4">
      <BlogHeader />
      <slot />
      <Footer />
    </div>
    <style>
      .skip-nav-link {
        background: grey;
        color: black;
        position: absolute;
        padding: 0.25rem 0.5rem;
        transform: translateY(-120%);
      }
      .skip-nav-link:focus {
        transform: translateY(0);
      }
    </style>
  </body>
</html>
