---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";

const {
  title = "www.joshfinnie.com",
  description = "The personal/professional website of Josh Finnie.",
  permalink = "https://www.joshfinnie.com",
  image = "/assets/josh.jpeg",
} = Astro.props;
---

<head>
  <BaseHead {title} {description} {permalink} image={`https://www.joshfinnie.com${image}`} />
</head>
<body>
  <a class="skip-nav-link" href="#main-content">skip navigation</a>
  <div class="w-full mx-auto sm:max-w-screen-md px-4">
    <BlogHeader />
    <slot />
    <Footer />
  </div>
</body>

<style global>
  @import "../styles/global.css";
  @import "../styles/prism.css";
</style>

<style>
  .skip-nav-link {
    background: grey;
    color: black;
    position: absolute;
    padding: 0.25rem 0.5rem;
    transform: translateY(-120%);
  }
  .skip-nav-link:focus {
    transform: translateY(0);
  }
</style>
