{% extends 'layout.html' %}

{% block content %}
{% include 'page.navbar.html' %}
<div class="container">
    <div class="row-fluid blogpage">
        <div class="item">
            <div class="header">
                <h2>
                    <a href="http://www.joshfinnie.com/talks/05-22-2014-nodedc-command-line-apps-in-node/">
                        Building A Node.js Command Line App
                    </a><br/>
                    <small class="indent">
                        <a href="http://www.meetup.com/node-dc/">NodeDC</a> (05/22/2014)</small>
                </h2>
                <h2>
                    <a href="http://www.joshfinnie.com/talks/02-10-2014-installing-drupal-with-ansible/">
                        Installing Drupal with Ansible.
                    </a><br/>
                    <small class="indent">
                        <a href="http://www.meetup.com/drupal-dc/">DrupalDC</a> (02/10/2014)</small>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
