{% extends 'layout.html' %}


{% block content %}
  {% include 'page.navbar.html' %}
    <div class="row-fluid blogpage">
            <div class="item">
                <div class="header">
                    <h2>
                      <a href="http://www.joshfinnie.com/talks/02-10-2014-installing-drupal-with-ansible/">
                        Installing Drupal with Ansible.
                    </a><br/>
                    <small class="indent">
                        <a href="http://www.meetup.com/drupal-dc/">DrupalDC</a> (02/10/2014)</small>
                    </h2>
                </div>
            </div>
    </div>
{% endblock %}
